# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# 忽略私钥文件
server.key

# 忽略自签名证书文件
server.crt

# 忽略证书签名请求文件
server.csr